// Place all the styles related to the qit controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: #ccc;
}

.alignment label {
    padding-right: 162px;
}

.alignment-2 label {
    padding-right: 185px;
}

.alignment-2a label {
    padding-right: 180px;
}

.alignment-4 label {
    padding-right: 223px;
}

.alignment-5 label {
    padding-right: 209px;
}

nav.navbar.navbar-default {
    background: #000;
    padding: 11px 0;
}

.head  {
    color: red;
    font-size: 31px;
    margin-left: 44%;
    padding-top: 2px;
}

#b {
  text-align: center;
}
// .alignment-3 label {
//     padding-right: 85px;
// }