<!DOCTYPE html>
<html>
<head>
  <title>Qit-Manager</title>
  <link rel="shortcut icon" type="image/png" href="https://www.qwinix.io/wp-content/uploads/2016/06/cropped-favicon-96x96-1-32x32.png"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <style type="text/css">
  body {
  background: #ccc;
}

.alignment label {
    padding-right: 162px;
}

.alignment-184 label {
    padding-right: 184px;
}

.alignment-122 label {
    padding-right: 122px;
}

.alignment-check label {
    padding-right: 285px;
}

.alignment-checka label {
    padding-right: 225px;
}

.alignment-122a label {
    padding-right: 133px;
}


.alignment-2 label {
    padding-right: 185px;
}

.alignment-2a label {
    padding-right: 180px;
}

.alignment-2b label {
    padding-right: 224px;
}

.alignment-4 label {
    padding-right: 223px;
}

.alignment-5 label {
    padding-right: 209px;
}

nav.navbar.navbar-default {
    background: #000;
    padding: 11px 0;
}

.head {
    color: red;
    font-size: 31px;
    margin-left: 44%;
    padding-top: 2px;
}

#b {
    text-align: center;
}
  </style>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
